* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fafbfc;
  height: 100%;
}

.landing {
  height: 100vh;
}

.landing h1 {
  text-align: center;
  padding: 40px 0px;
  font-size: 2.5em;
  color: #0052cc;
}

.landing-box {
  display: flex;
  flex-direction: column;
  margin: 0px auto ;
  width: 400px;
  padding: 32px 40px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
  box-sizing: border-box;
  text-align: center;
}

.box-title {
  font-weight: 800;
  font-size: 1.1em;
  margin-bottom: 0px;
  color: rgb(94, 108, 132);
}

.submit-button-landing {
  height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 100%;
  margin: 28px auto;
  padding: 0px 10px;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 500;
  vertical-align: middle;
  background-color: #0052cc;
  color: #ffffff;
}

.landing-box button:hover {
  background-color: #0099e0;
  cursor: pointer;
}

.text-field-container {
  align-items: center;
  background-color: #FAFBFC;
  border-color: #DFE1E6;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  font-size: 14px;
  justify-content: space-between;
  height: 39px;
  width: 100%;
  margin-top: 16px;
  padding: 10px;
  color: #091E42;
}

.landing input {
  padding: 8px 6px;
  height: 2.57em;
  text-align: start;
}

.landing h5 {
  margin-top: 5px;
}

.landing h5::before {
  display: inline;
  content: "⚠ ";
}

.landing p {
  color: #0052cc;
}

.underline-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
}

#navbar-left {
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
  height: 100vh;
  width: 64px;
  background-color: #0847a6;
  color: #d8e2f0;
  display: flex;
  flex-direction: column;
}

#navbar-left-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px 0.5rem 15px;
  margin-bottom: 2px;
}

#atlassian-white-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px 0.5rem 15px;
}

#sidebar {
  width: 240px;
  background-color: #f4f5f7;
  color: #2c3e5d;
  padding: 0 1rem;
  border-right: ;
}

#sidebar-title {
  padding: 1.5rem 0px;
}

.sidebar-item {
  padding: .5rem .75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-icon {
  margin-right: 1rem;
  height: 22px;
  width: 22px;
}

#sidebar-divider {
    margin-top: 1rem;
    padding-top: 1rem;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(190, 189, 189);
}

#strip {
      background: linear-gradient(
270deg
,rgba(0,0,0,.2) 0,rgba(0,0,0,.2) 1px,rgba(0,0,0,.1) 0,transparent);
    bottom: 0;
    left: -3px;
    opacity: .5;
    pointer-events: none;
    top: 0;
    transition-duration: .22s;
    transition-property: left,opacity,width;
    transition-timing-function: cubic-bezier(.2,0,0,1);
    width: 3px;
}

#kanban-board {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#kanban-path {
  color: #5e6c84;
}

#kanban-path span {
  margin-right: .75rem;
  font-weight: 600;
}

#kanban-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
  color: #172b4d;
}

#kanban-header p {
  font-size: 1.5rem;
  font-weight: 800;
}
#kanban-header a {
  text-decoration: none;
}

#kanban-header button {
  display: inline-flex;
  height: 2rem;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 0.125rem;
  background-color: #f4f5f7;
  color: #42526e;
  align-items: center;
  border-width: 0;
  padding: 0 0.75rem;
  margin-right: 0.5rem;
  font-size: 14.5px;
  cursor: pointer;
  font-weight: 800;
}

#kanban-header button:hover {
  background-color: #dcdcde;
}

#kanban-filters {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#input-container {
  display: flex;
  height: 32px;
  width: 10rem;
  margin-right: 1rem;
  align-items: center;
  position: relative;
}

#icon-container {
  position: absolute;
  width: 32px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#kanban-filters input {
  width: 10rem;
  margin-right: 1rem;
  display: flex;
  height: 32px;
  padding-left: 32px;
  border: 1px solid #ddd;
  color: #172b4d;
  font-size: 15px;
}

#kanban-filters button {
  display: inline-flex;
  height: 2rem;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 0.125rem;
  background-color: inherit;
  color: #42526e;
  align-items: center;
  border-width: 0;
  padding: 0 0.75rem;
  margin-right: 0.5rem;
  font-size: 14.5px;
  cursor: pointer;
}

#kanban-filters button:hover {
  background-color: #f4f5f7;
}

#filter-user-icons-container {
  display: flex;
  flex-direction: row;
  margin: 0px 12px 0px 2px;
}

.filter-user-icon-container {
    display: inline-flex;
    margin-left: -2px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.filter-user-icon {
  box-shadow: rgb(255 255 255) 0px 0px 0px 2px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-image: url(https://cdn.dribbble.com/users/2591291/screenshots/6158597/media/925e65e38adeea6ffc455df381a9ee79.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(235, 236, 240);
  transition: transform 0.1s ease 0s;
}
.filter-user-icon:hover {
    transform: translateY(-5px);
}
/* Note: When filter user icon is selected, must
         change box-shadow. Switch to*/
.filter-user-icon-selected {
  box-shadow: rgb(255 255 255) 0px 0px 0px 2px;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-image: url(https://cdn.dribbble.com/users/2591291/screenshots/6158597/media/925e65e38adeea6ffc455df381a9ee79.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(235, 236, 240);
  transition: transform 0.1s ease 0s;
}
.filter-user-icon-selected:hover {
    transform: translateY(-5px);
}

#columns-container {
  display: flex;
  flex-direction: row;
  margin: 1.75rem -5px 0px;
  width: 100%;
  max-width: 1280px;
}

.single-column {
  display: flex;
  flex-direction: column;
  flex: 25%;
  margin: 0 5px;
  min-height: 400px;
  min-width: 200px;
  border-radius: 3px;
  background-color: #f4f5f7;
}

.single-column p {
  padding: 13px 10px 17px 10px;
  color: rgb(94, 108, 132);
  font-size: 14.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

